@charset "UTF-8";
img {
    width: 272px;
    margin: 20px;
    padding: 20px;
    height: 366px;
}
.my-class {
    color: rgba(250,151,67,1.00);
    background-color: rgba(234,234,181,1.00);
    border: 1px solid orange;
    text-align: center;
    padding: 0.5em;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
#my-id {
    color: sandybrown;
    background-color: rgba(245,245,220,0.50);
    border: 1px solid brown;
    text-align: center;
    padding: 0.5em;
}
.my-container {
    color: #6B4D34;
    background-color: rgba(225,225,151,0.40);
    border: 2px solid #522929;
    text-align: center;
    padding: 5.0em;
    visibility: visible;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
    font-variant: normal;
    line-height: 37px;
	}
body {
    background-image: url(../images/plants.jpg);
    background-size: cover;
    background-repeat: repeat;
}
.order {
    background-color: #FFBC16;
    width: 169px;
    border-radius: 20px;
    height: 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
}
.creator {
    background-color: #FFFFFF;
    background-color: rgba(255,188,22,0.80);
    width: 326px;
    border-radius: 20px;
    height: 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    color: #FCFCFC;
	}
.images-line {
	text-align: center
	}
.link {
    background-color: #FFFFFF;
    background-color: rgba(255,138,21,0.50);
    width: 529px;
    border-radius: 20px;
    height: 19px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    color: #FCFCFC;
	}